extends /_layouts/prime
block append style
  style.
    ._nav { display:none !important }
block footer
  +thin_hr
  p: +site_footer
  +thin_hr
  p.text-right.text-grey: small: +edit_link(path)
//- --------------------------------------------------------------
block append vars
  -
    path   = 'index.html'
    title  = `Index`
block append style
  style.
    h1.hero { font-family: 'Arial',system-ui,sans-serif }
block content
  h1.hero 🕊️ !{description}
  nav: p
      +_a([live_url,'home'].join('/'))| !{site_title}(md)
  nav: ul
    li: +site_nav('core')
    li: +site_nav('mallet')
    li: +site_nav('nova')
    li: +site_nav('prime')
  pre.scrollable.
    source   : #[a._no_u(href=source_url target="_edit") techie-joe/dove]
    version  : !{version}
    revision : !{revision}
    site_url : #[a._no_u(href=site_url)|!{site_url}]
    home_url : #[a._no_u(href=home_url)|!{home_url}]
    ghost                : !{ghost}
    google_analytics     : !{google_analytics||'(undefined)'}
    cloudflare_analytics : !{cloudflare_analytics||'(undefined)'}