extends /_source/_layouts/prime
block append vars
  - path   = 'index.html'
  - title  = `Index`
block prepend html
  +---.
    title: 'Home'
block footer
  +thin_hr
  p: +site_footer
  +thin_hr
  p.text-right.text-grey: small: +edit_link(path)
block append style
  style.
    ._logo,
    ._nav { display:none !important }
    h1.hero { font-family: 'Arial',system-ui,sans-serif }
block content
  h1.hero 🕊️ !{description}
  pre.scrollable.highlight(style="max-height:213px").
    #[b.text-gray # _config.pug]
    version      : !{version}
    revision     : !{revision}
    title        : !{site_title}
    description  : !{site_description}
    author       : !{author}
    year         : !{year}
    base_url     : !{base_url}
    home_url     : !{home_url}

    lang         : !{lang}
    theme_color  : !{theme_color}
    color_scheme : !{color_scheme}
    ghost        : !{ghost}

    google_analytics     : !{google_analytics||'(undefined)'}
    cloudflare_analytics : !{cloudflare_analytics||'(undefined)'}

    source_url   : !{source_url}
  nav: p
      b Dove
      +_bull
      +_a([base_url,'md'].join('/'))| Markdown
      +_bull
      +_a([base_url,'test'].join('/'))| Test
      +_bull
      +_a(source_url)(target="_edit")| Repository
      +_bull
      +_a('https://techie-joe.github.io/proto')(target="_test")| Proto
  hr.thin.border-gray-light/
  nav: ul
    li: +site_nav('core')
    li: +site_nav('mallet')
    li: +site_nav('nova')
    li: +site_nav('prime')