include main
block vars
  -
    layout = 'core'
    htmlClass = ['_core_layout']
    bodyClass = []
    mainClass = []
block frontMatter
doctype html
html(lang=lang||'en-US' class=htmlClass.join(' '))
  |<!-- page.layout : pug/!{layout} -->
  |<!-- page.path   : {{ page.path }} -->
  head
    .
      <meta charset="!{charset || 'utf-8'}" />
      <!-- Begin Jekyll SEO tag v2.8.0 -->
      <title>!{title||'(untitled)'}!{site_title?' | '+site_title:''}</title>
      <!-- End Jekyll SEO tag -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=5.0,shrink-to-fit=no" />
      <meta id="_theme-color"  name="theme-color"  content="!{theme_color}" />
      <meta id="_color-scheme" name="color-scheme" content="!{color_scheme}" />
      <link id="_style" rel="stylesheet" href="!{site_url}assets/core/css/style.css?v=!{version}" />
      <!-- custom-head -->
      <!--[if lt IE 9]><script src="//unpkg.com/html5shiv@3.7.3/dist/html5shiv.min.js"><![endif]-->
    style.
  body
    ._view: ._layout: main._main: article._article: block content
    +credit  
    .
      <script>window.ghost = 'bG9jYWxob3N0LHRlY2hpZS1qb2UuZ2l0aHViLmlvLHRoZW1lanMucGFnZXMuZGV2';</script>
      <script src="!{site_url}assets/core/js/script.js?v=!{version}"></script>
    .
      <!-- anchors <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script><script>anchors?.add();</script> -->
      <!-- custom-body -->