extends _html
block append vars
  -
    path   = 'index.html'
    title  = `Index`
block append style
  style.
    h1.hero { font-family: 'Arial',system-ui,sans-serif }
block nav
  style.
    ._nav { display:none !important }
block logo
  span._pointer #{site_title}
block content
  h1.hero 🕊️ !{description}
  nav: ul
    li: +a('home') Home
    li: +nav_('core')
    li: +nav_('nova')
    li: +nav_('mallet')
    li: +nav_('prime')
  pre.scrollable.
    source   : #[+a('https://github.com/techie-joe/dove') techie-joe/dove]
    version  : !{version}
    revision : !{[33,now.getHours(),now.getMinutes()*100+now.getSeconds()].join('.')}
    site_url : #[a._no_u(href=site_url)|!{site_url}]
    home_url : #[a._no_u(href=home_url)|!{home_url}]
    ghost                : !{ghost}
    google_analytics     : !{google_analytics||'(undefined)'}
    cloudflare_analytics : !{cloudflare_analytics||'(undefined)'}
