extends /_pugs/_layouts/prime
block append vars
  include /_pugs/_nav
block footer
  p: small.mono // by #{author} !{year}
//- --------------------------------------------------------------
block append vars
  -
    path   = 'index.html'
    title  = `Index`
block append style
  style.
    h1.hero { font-family: 'Arial',system-ui,sans-serif }
block content
  h1.hero 🕊️ !{description}
  nav: ul
    li
      b !{site_title}
      +l
      +itext|&bull;
      +_a([live_url,'home'].join('/'))| Home
    li: +nav_('core')
    li: +nav_('nova')
    li: +nav_('mallet')
    li: +nav_('prime')
  pre.scrollable.
    source   : #[a._no_u(href=source_url target="_edit") techie-joe/dove]
    version  : !{version}
    revision : !{revision}
    site_url : #[a._no_u(href=site_url)|!{site_url}]
    home_url : #[a._no_u(href=home_url)|!{home_url}]
    ghost                : !{ghost}
    google_analytics     : !{google_analytics||'(undefined)'}
    cloudflare_analytics : !{cloudflare_analytics||'(undefined)'}
