include _main
-
  revision = [revision,now.getHours()*100+now.getMinutes()*100+now.getSeconds()].join('.')

//- ==============================================================

mixin _itext
  +l: +itext: block

mixin _isvg(icon=svgi.angle)
  +l: +isvg(icon)

mixin bull
  +itext|&bull;

mixin _bull
  +_itext|&bull;

mixin angle
  +isvg(svgi.angle)

mixin _angle
  +_isvg(svgi.angle)

mixin thin_hr
  hr.thin/

mixin front_matter
  !='---'
  block
  !='\n---\n'

mixin yml
  !='```yml\n'
  block
  !='\n```\n'

mixin capture(id='')
  !=`{%- capture ${id} %}`
  block
  !=`{%- endcapture %}`

mixin include(id='',path='',args="",filter=" | markdownify")
  +capture(id)!=`{%- include ${path}${args} %}`
  +l!=`{{ ${id}${filter} }}`

mixin include_relative(id='',path='',args="",filter=" | markdownify")
  +capture(id)!=`{%- include_relative ${path}${args} %}`
  +l!=`{{ ${id}${filter} }}`

//- ==============================================================

mixin logo
  ._logo: a(href=home_url+'/') #{site_title}

mixin nav_common
  a(href="?back" onclick=onclick(js.goBack) title="Back to previous page").button 👈 Back
  a(href=home_url+'/' title="Go to Home Page").button Home
  a(href=home_url+'/pages' title="Go to Pages").button Pages
  a(href=home_url+'/posts' title="Go to Posts").button Posts

mixin sna(ref)
  if ref == path || ref+'index.html' == path
    b: block
  else
    +a([base_url,ref].join('/')): block