include _main
-
  revision = [revision,now.getHours()*100+now.getMinutes()*100+now.getSeconds()].join('.')

//- ==============================================================

mixin _itext
  +l: +itext: block

mixin _isvg(icon=svgi.angle)
  +l: +isvg(icon)

mixin bull
  +itext|&bull;

mixin _bull
  +_itext|&bull;

mixin middot
  +itext|&middot;

mixin _middot
  +_itext|&middot;

mixin angle
  +isvg(svgi.angle)

mixin _angle
  +_isvg(svgi.angle)

mixin thin_hr
  hr.thin/

mixin front_matter
  !='---'
  block
  !='\n---\n'

mixin yml
  !='```yml\n'
  block
  !='\n```\n'

mixin capture(id='')
  !=`{%- capture ${id} %}`
  block
  !=`{%- endcapture %}`

mixin include(id='',path='',args="",filter=" | markdownify")
  +capture(id)!=`{%- include ${path}${args} %}`
  +l!=`{{ ${id}${filter} }}`

mixin include_relative(id='',path='',args="",filter=" | markdownify")
  +capture(id)!=`{%- include_relative ${path}${args} %}`
  +l!=`{{ ${id}${filter} }}`

//- ==============================================================

mixin main_style
  link#_style(rel="stylesheet" href!=`{{ site.base_url }}/assets/${layout_name}/css/style.css?r={{ site.revision | default: '0' }}.{{ site.github.build_revision | default: '0' }}`)/

mixin hide_header
  style| ._header{display:none !important}

mixin hide_nav
  style| ._nav{display:none !important}

mixin hide_footer
  style| ._footer{display:none !important}

mixin _edit_link
  +thin_hr
  p.text-right.text-grey: small: +edit_link(path)

mixin main_view
  header._header: ._layout
    block header
      +include('header','header.md')
  nav._nav: ._layout
    block nav
      +include('nav','nav.md')
  main._main: article._article: ._layout
    block content
      h1 !{title}
      p: code // !{title} (content)
  footer._footer: ._layout
    block footer
      +include('footer','footer.md')

mixin sna(ref)
  - _path = removePathExt(path,'html');
  if ref == _path || ref+'index.html' == _path
    b: block
  else
    +a([base_url,ref].join('/')): block

mixin site_nav(sub)
  +sna(sub+"/home")| Home
  +bull
  +sna(sub+"/page")| Page
  +bull
  +sna(sub+"/post")| Post
  +bull
  +sna(sub+"/404")| 404

mixin test_nav(sub)
  +sna(sub+"/test_colors")| Colors
  +bull
  +sna(sub+"/test_code-blocks")| Code blocks

mixin template_nav(sub)
  +sna(sub+"/")| About
  +bull
  +sna(sub+"/preview")| Preview
  +bull
  +sna(sub+"/templates")| Templates
  +bull
  +sna(sub+"/test")| Test

mixin page_footer
  .mt-6
  hr
  h2 Other pages
  +include('pages','pages.md')

mixin post_footer
  .mt-6
  hr
  h2 Other posts
  +include('posts','posts.md')