include /_config
-
  site_title       = title;
  site_description = description;

  now   = new Date()
  today = now.toGMTString()
  year  = now.getFullYear()

  revision = [revision,now.getHours()*100+now.getMinutes()*100+now.getSeconds()].join('.')

  js   = {
    //- javascripts
    goBack      : "(function(w){var h=w.history;w.opener?w.close():h.length>1?h.back():w.location.href='/';})(window)",
    themeChange : "theme.change();",
    print       : "window.print();",
  };

  cssi = {
    //- CSS images
  };

  svgi = {
    //- SVG images
    bars:'M5,6H19V8H5V6M5,11H19V13H5V11M5,16H19V18H5V16Z',
    home:'M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z',
    caret:'M10,17L15,12L10,7V17Z',
    angle:'M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z',
    arrow:'M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z',
    cross:'M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z',
    download:'M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z',
    compare:'M19,3H14V5H19V18L14,12V21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M10,18H5L10,12M10,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H10V23H12V1H10V3Z',
    ellipsis:'M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z',
    spin:'M17.65,6.35C16.2,4.9 14.21,4 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20C15.73,20 18.84,17.45 19.73,14H17.65C16.83,16.33 14.61,18 12,18A6,6 0 0,1 6,12A6,6 0 0,1 12,6C13.66,6 15.14,6.69 16.22,7.78L13,11H20V4L17.65,6.35Z',
  };

  fonts = [
    'family=Roboto:ital,wght@0,100..900;1,100..900',
    //- 'family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700',
    //- 'family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700',
    'family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700',
    'display=swap',
  ]

//- ==============================================================
//- functions
-
  onclick = ( _script='' ) => 'event.preventDefault();' + _script;
  capitalize = s => s.replace(/\w\S*/g, w => w[0].toUpperCase() + w.slice(1).toLowerCase());

//- ==============================================================
include _mixins

mixin custom_head
  |<!-- layout_head -->
  //- +fonts
  //- +icons
  //- +manifest

mixin fonts
  link(rel="preconnect" href="https://fonts.googleapis.com")/
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)/
  link(rel="stylesheet" href="https://fonts.googleapis.com/css2?"+fonts.join('&'))#_fonts/

mixin icons
  //- prioritization sequence: first match, exact-size, type, then "any".
  link(rel="apple-touch-icon" type="image/png"     sizes="180x180" href=base_url+"/icons/apple-touch-icon.png")/
  link(rel="icon"             type="image/png"     sizes="32x32"   href=base_url+"/icons/favicon-32x32.png")/
  link(rel="icon"             type="image/png"     sizes="16x16"   href=base_url+"/icons/favicon-16x16.png")/
  link(rel="shortcut icon"    type="image/x-icon"  sizes="any"     href=base_url+"/icons/favicon.ico")/

mixin manifest
  //- enable manifest if you're building a PWA Apps
  link(rel="manifest" href!=`${base_url}/manifest.json?r=${revision}`)/

//- ==============================================================

mixin custom_body
  +copyright
  +credit
  +themejs
  +anchor
  +google_analytics

//- ==============================================================
mixin copyright
  ._copyright
    span._copyright_text| @ by #{author} !{year}

mixin credit
  ._credit
    a._credit_link(href='https://techie-joe.github.io/dove')| ✨ Made with Dove

mixin theme_switch(title='Change Theme (Alt+T)')
  ._theme_switch._needjs: a(href='#' onclick!=onclick(js.themeChange) title=title)
    +isvg(svgi.compare)

mixin themejs
  script|window.ghost='!{ghost}';
  +js(`${base_url}/assets/themejs/themejs_v2.0.js?r=${revision}`)

mixin anchor
  script(src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous")
  script|anchors?.add();

mixin google_analytics
  if google_analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id="+google_analytics)
    script.
      window.dataLayer=window.dataLayer||[];
      function gtag(){window.dataLayer.push(arguments);}
      gtag('js',new Date());
      gtag('config','!{ google_analytics }');

mixin fouc
  style.
    ._fouc { visibility: hidden !important }
  script.
    ((d=document,q=(d.documentElement||d.body).classList,c='_fouc',x='_tx')=>{
      q.add(c,x);d.addEventListener('DOMContentLoaded',e=>{
        setTimeout(e=>{q.remove(c);q.remove(x)},300);
      });
    })();

//- ==============================================================
mixin _bull
  +l
  +itext|&bull;
  +l

mixin logo
  ._logo
    a(href=home_url) #{site_title}

mixin back_button
  a(href="?back" onclick=onclick(js.goBack) title="Back to previous page")&attributes(attributes) 👈 Back

mixin gohome_button
  a(href=home_url title="Go to Home Page")&attributes(attributes) Home

mixin edit_link(path)
  | This site is open source.
  | #[a(href=`${source_url}/edit/main/_pugs/${path}.pug` target="_edit")| Improve this page].

mixin site_nav(sub)
  - sub_url = [base_url,sub].join('/')+'/'
  b !{capitalize(sub)}
  +l
  +isvg(svgi.angle)
  +_a(sub_url+"preview.html")| Preview
  +_a(sub_url+"legacy.html")| Legacy
  +_bull
  +_a(sub_url)| Home
  +_a(sub_url+"page.html")| Page
  +_a(sub_url+"404.html")| 404

mixin site_footer
  b !{author}'s
  +l
  +isvg(svgi.angle)
  +_a('https://techie-joe.github.io')| Website
  +_bull
  +_a('https://github.com/techie-joe')| Profile
  +_bull
  +_a(['/nova/site/themejs'].join('/'))| ThemeJs
