extends /_pugs/core
block append vars
  -
    path   = 'index.html'
    title  = `Index`
block logo
  span._pointer #{site_title}
block nav
  //- code // nav
  div 
    +_a("home.html")| Home
    +_a("page.html")| Page
    +_a("demo-old.html")| Old
    +_a("demo-new.html")| New
block content
  code // Developing style for Core
  pre._scrollable.
    site_url : #[a._no_u(href=site_url)|!{site_url}]
    home_url : #[a._no_u(href=home_url)|!{home_url}]
    version  : !{version}
    revision : !{[32,now.getHours(),now.getMinutes()+now.getSeconds()].join('.')}
    ghost                : !{ghost}
    google_analytics     : !{google_analytics||'(undefined)'}
    cloudflare_analytics : !{cloudflare_analytics||'(undefined)'}
block footer
  code // by Techie Joe !{year}