extends /_pugs/core
block append vars
  -
    path   = 'home.html'
    title  = `Home`
//- block logo
  //- span._pointer #{site_title}
//- block nav
  //- 
    +_a("home.html")| Home
    +_a("page.html")| Page
    +_a("demo-old.html")| Old
    +_a("demo-new.html")| New
//- block content
  pre._m0._scrollable.

    site_url : #[a._no_u(href=site_url)|!{site_url}]
    home_url : #[a._no_u(href=home_url)|!{home_url}]
    version  : !{version}
    revision : !{[31,now.getHours(),now.getMinutes()+now.getSeconds()].join('.')}

    google_analytics     : !{ google_analytics||'(undefined)' }
    cloudflare_analytics : !{ cloudflare_analytics||'(undefined)' }