extends /_pugs/core
block append vars
  -
    path   = 'index.html'
    title  = `Index`    
    isHome = true
block content
  pre._m0._scrollable.
    // home

    site_url : #[a._no_u(href=site_url)|!{site_url}]
    home_url : #[a._no_u(href=home_url)|!{home_url}]
    version  : !{version}
    revision : !{[30,now.getHours(),now.getMinutes()+now.getSeconds()].join('.')}

    google_analytics : !{ google_analytics||'(undefined)' }