include main
block vars
  -
    layout = 'nova'
    htmlClass = ['_nova_layout']
    bodyClass = []
    mainClass = []
block update_vars
block html
  doctype html
  html(lang=lang||'en-US' class=htmlClass.join(' '))
    |<!-- page.path   : !{path} -->
    |<!-- page.layout : pugs/!{layout} -->
    head
      meta(charset=charset||'utf-8')/
      |<!-- Begin Jekyll SEO tag v2.8.0 -->
      title !{title||'(untitled)'}!{site_title?' | '+site_title:''}
      |<!-- End Jekyll SEO tag -->
      meta(name="viewport" content="width=device-width,initial-scale=1")/
      meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")/
      meta#_color_scheme(name="color-scheme" content=color_scheme||'')/
      meta#_theme_color(name="theme-color" content=theme_color||'')/
      block style
        link#_style(rel="stylesheet" href!=`${site_url}/assets/nova/css/style.css?v=${version}`)/
      block custom_head
        +custom_head
      |<!--[if lt IE 9]><script src="https://unpkg.com/html5shiv@3.7.3/dist/html5shiv.min.js"></script><![endif]-->
    body
      ._views: ._view
        header._header: ._layoutx
          block header
            //- code // header
            .flex
              .fill: +logo
              .fit: +theme_switch
        nav._nav: ._layoutx._960
          block nav
            p: code // nav
        main._main: article._article._layoutx._960
          block content
            h1 !{title}
            p: code // content for : !{title}
        footer._footer: ._layoutx._960
          block footer
            p: code // footer
          p.text-right.text-grey: small: +edit_link(path)
      block custom_body
        +custom_body
