include main
block vars
  -
    color_scheme = 'light'
  -
    layout = 'primer'
    htmlClass = ['_primer_layout']
    bodyClass = []
    mainClass = []
block html
  doctype html
  html(lang=lang||'en-US' class=htmlClass.join(' '))
    |<!-- page.path   : !{path} -->
    |<!-- page.layout : pugs/!{layout} -->
    head
      meta(charset=charset||'utf-8')/
      |<!-- Begin Jekyll SEO tag v2.8.0 -->
      title !{title||'(untitled)'}!{site_title?' | '+site_title:''}
      |<!-- End Jekyll SEO tag -->
      meta(name="viewport" content="width=device-width,initial-scale=1")/
      meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")/
      meta#_color_scheme(name="color-scheme" content=color_scheme||'')/
      meta#_theme_color(name="theme-color" content=theme_color||'')/
      block style
        link#_style_primer(rel="stylesheet" href!=`${site_url}/assets/primer/css/style.css?v=${version}`)/
      |<!-- custom-head -->
      //- +fonts
      //- +icons
      //- +manifest
      |<!--[if lt IE 9]><script src="https://unpkg.com/html5shiv@3.7.3/dist/html5shiv.min.js"></script><![endif]-->
    body
      .container-lg.px-3.my-5.markdown-body
        block header
          //- p: code // header
          h1: a(href=home_url) #{site_title}
        block content
          h2 !{title}
          p: code // content for : !{title}
        .footer.border-top.border-gray-light.mt-5.pt-3.text-right.text-gray
          block footer
            p: code // footer
          if path
            - source_url = `https://github.com/techie-joe/dove/edit/main/_pugs/${path}.pug`;
          if source_url
            p This site is open source. #[a(href=source_url)| Improve this page].
        |<!-- custom-body -->
        +credit
        +themejs
        +anchor
        +google_analytics
